[submodule "tpch/tpch-dbgen"]
	path = tpch/tpch-dbgen
	url = https://github.com/eyalroz/tpch-dbgen
	ignore = all
[submodule "ssb/ssb-dbgen"]
	path = ssb/ssb-dbgen
	url = https://github.com/vudala/ssb-dbgen
