[submodule "ssb-dbgen"]
	path = ssb-dbgen
	url = https://github.com/eyalroz/ssb-dbgen
	branch = main
[submodule "tpch/tcph-dbgen"]
	path = tpch/tcph-dbgen
	url = https://github.com/eyalroz/tpch-dbgen
