[submodule "ssb-dbgen"]
	path = ssb-dbgen
	url = https://github.com/eyalroz/ssb-dbgen
	branch = main
	ignore = all

[submodule "tpch-dbgen"]
	path = tpch/tpch-dbgen
	url = https://github.com/eyalroz/tpch-dbgen
	branch = main
	ignore = all
